{% extends 'base.html' %}
{% spaceless %}
{% load staticfiles %}
{% load compress %}
{% load bulma_tags %}
{% block title %} Dashboard — Rent-a-car {% endblock title %}
{% block menu %}
    {% include "menu/user.html" %}
{% endblock menu %}
{% block content %}
    <div style="margin: 3%;">
<div class="columns">
<div class="column is-3">
<aside class="menu">
  <ul class="menu-list">
    <li class="menu_dashboard"><a href="#" {% if 'dashboard' in request.path %}
                                  class="is-active" {% endif %}>Dashboard</a></li>
  </ul>
    <ul class="menu-list">
    <li>
      <a href="#" id="pending_orders" {% if 'orders' in request.path %} class="is-active" {% endif %}>Orders</a>
      <ul>
        <li><a href="#" id="active_orders">Active</a></li>
        <li><a href="#" id="canceled_orders">Canceled</a></li>
        <li><a href="#" id="finished_orders">Finished</a></li>
      </ul>
    </li>
  </ul>
  </li>
      </ul>
</aside>
</div>
<div class="column is-2"></div>
<div class="column is-3">
    <br>
    <!-- No Orders message -->
    <article class="message is-danger" style="display:none;" id="not_found">
                                <div class="message-body">
                                     No Orders where found. Click <a href="{% url 'car:view_cars' %}"
                                     style="text-decoration:none; color:blue">here</a> to make an order!
                                </div>
                             </article>

    <!-- Update profile form -->
    <a class="fillForm"><span class="tag is-link">Update your profile</span></a><br><br>
    <div class="box" style="display:none;">
        <form>
            {{ form | bulma }}
            <div class="field">
        <label class="label">Birthdate</label>
        <div class="control">
        <input type="date" id="birth_date"  class="input">
        </div>
            </div>
    <div class="field">
    <label class="label">Address</label>
        <div class="control">
        <input type="text" id="address" class="input">
        </div>
    </div>
            <label class="label">Photo</label>
            <img src="" class="photo" height="85" width="85"><br><br>
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a photo…
          </span>
        </span>
      </label>
    </div>
    <br>
        <a id="update" class="button is-success">
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            <span>Save changes</span>
        </a>
        </form>
    </div>
    </div>
</div>
<div class="columns">
    <div class="column is-4"></div>
    <div class="column" id="order_data" style="display:none; margin-top:-12%;">
        <table class="table is-hoverable is-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Car</th>
                    <th>Price</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Status</th>
                    <th id="th_cancel" style="display:none;"></th>
                    <th id="th_payment" style="display:none;"></th>
                </tr>
            </thead>
            <tbody id="rows">
            </tbody>
        </table>
    </div>
</div>

 <!-- Checkout order modal -->
        <div class="modal is-active" id="modal_payment" style="display:none;">
        <div class="modal-background"></div>
        <div class="modal-content">
             <div class="card">
                <div class="card-content">
                    <div class="control">
                        <img src="/static/order/img/cards.png" style="margin-left: 40%;">
                        <br><br>
                        <input type="hidden" id="order_pk">
                        <label class="label"> Name on card: </label>
                        <input type="text" id="card_name" autofocus class="input"><br><br>
                        <label class="label"> Card number: </label>
                        <input type="text" id="card_number" autocomplete="off" maxlength="19" class="input"><br><br>
                        <label class="label"> Expiry month: </label>
                         <div class="select is-primary">
                        <select id="expiry_month">
                            <option value="">--Month--</option>
                             {% for month in months %}
                                <option>{{ month }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <br><br>
                        <label class="label"> Expiry year: </label>
                        <div class="select is-primary">
                        <select id="expiry_year">
                            <option value="">--Year--</option>
                            {% for year in years %}
                                <option>{{ year }}</option>
                            {% endfor %}
                        </select>
                        </div><br><br>
                        <label class="label"> CVV: </label>
                        <input type="text" id="cvv" maxlength="3" autocomplete="off" class="input"><br><br>
                        <a class="button is-success" id="checkout"> Checkout </a><br><br>
                         <article class="message is-danger" style="display:none;" id="payment_error">
                            <div class="message-body">
                                 Oops! Your card information is invalid.
                            </div>
                         </article>


        </div>
        </div>
        </div>
        </div>
         <button class="modal-close is-medium" id="btn_modal_payment"></button>
        </div>


     <!-- Order complete modal -->
     <div class="modal is-active" id="modal_order_complete" style="display:none;">
        <div class="modal-background"></div>
        <div class="modal-content">
             <div class="card">
                <div class="card-content">
                    Congratulations! Your payment has been processed successfully.<br>
                    Go to your <a href="{% url 'account:dashboard' %}"><span class="tag is-link">dashboard.</span></a>
        </div>
        </div>
        </div>
         <button class="modal-close is-medium" id="btn_modal_order_complete"></button>
        </div>

        <!-- Car review modal -->
     <div class="modal is-active" id="modal_car_review" style="display:none;">
        <div class="modal-background"></div>
        <div class="modal-content">
             <div class="card">
                <div class="card-content">
                <label class="label"> Car: </label>
                <input type="text"  id="car" class="input"><br><br>
                <input id="order_rate_id" type="hidden">
                <label class="label"> Rate: </label>
               <div class="select is-info">
                <select id="rate">
                    <option value="">--Choose rate--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
               </div><br><br>
               <a class="button is-success" id="car_rate"> Rate the car</a><br><br>
        </div>
        </div>
        </div>
         <button class="modal-close is-medium" id="btn_modal_car_review"></button>
        </div>

<div style="margin-top: 30%"></div>
</div>
    {% block script %}
        <script src="https://js.stripe.com/v2"></script>
        {% compress js %}
            <script> Stripe.publishableKey = '{{ pub_key }}' </script>
            <script src="{% static 'modal.js' %}"></script>
            <script src="{% static 'order/js/get_orders.js' %}"></script>
            <script src="{% static 'order/js/rate_car.js' %}"></script>
        {% endcompress %}
    {% endblock script %}
{% endblock content %}
{% endspaceless %}