{% extends "base.html" %}
{% block title %} Home | Rent-a-car {% endblock title %}
{% block css %}
<style>
    body{
        background-image: url('/static/account/img/home.jpg');
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock css %}
{% block content %}
<section class="section is-large"></section>
    <section class="section is-medium"></section>
{% endblock content %}