{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Login | Rent-a-car {% endblock title %}
{% block menu %}
    {% include "account/menu/home.html" %}
{% endblock menu %}
{% block content %}
    <section class="section">
    <h1 class="title is-4"> Welcome to Login page!</h1>
    </section>
    <section class="section is-large"></section>
    <div class="modal is-active" id="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                <div class="control">
                        <label class="label">Username</label>
                        <input class="input" type="text" autofocus="true" required id="username">
                        <br><br>
                        <label class="label">Password</label>
                        <input class="input" type="password" required id="password"><br><br>
                        <div class="columns">
                            <div class="column is-8">
                                <a class="button is-small is-danger" href="{% url 'password_reset' %}">Forgot your password?</a>
                            </div>
                            <div class="column">
                                <a href="{% url 'account:register' %}" class="button is-small is-success">
                                    You're new user, Register here!
                                </a>
                            </div>
                        </div>
                     <br>
                    <button class="button is-info" id="btnLogin"> Login </button>
                         <br><br>
                         <article class="message is-danger" style="display:none;" id="errorMessage">
                                <div class="message-body">
                                     Your credentials are incorrect!
                                </div>
                             </article>
                             </div></div></div></div>
            <button class="modal-close is-medium" id="btn"></button>
            <br>
    </div>
    <br>
{% endblock content %}

{% block script %}
    <script src="{% static 'account/js/modal.js' %}"></script>
    <script src="{% static 'account/js/login.js' %}"></script>
{% endblock script %}
