{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <section class="section"></section>
    <section class="section is-large"></section>
     <div class="modal is-active" id="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </div>
            </div>
            </div>
      <button class="modal-close is-medium" id="btn"></button>
    </div>
    <br><br><br>
{% endblock content %}


{% block script %}
    <script src="{% static 'modal.js' %}"></script>
{% endblock script %}