{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <section class="section"></section>
    <section class="section is-large"></section>
    <div class="modal is-active" id="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                    Your password has been set. You may go ahead and <a href="{% url 'account:login'%}"> Login</a> now.
                </div>
            </div>
        </div>
         <button class="modal-close is-medium" id="btn"></button>
    </div>
    <br><br><br>
{% endblock content %}

{% block script %}
    <script src="{% static 'modal.js' %}"></script>
{% endblock script %}