{% extends 'base.html' %}
{% load staticfiles %}
{% load bulma_tags %}
{% block content %}
    <section class="section"></section>
    <section class="section is-large"></section>
      <div class="modal is-active" id="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                    <h3>Change your password</h3><br>
                    <form method="post">
                      {% csrf_token %}
                        {% if validlink %}
                            {{ form | bulma }}
                            <button type="submit" class="button is-success">Change password</button>
                        {% else %}
                           The password reset link was invalid, possibly because it has already been used.
                           Please request a new password reset.
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
      <button class="modal-close is-medium" id="btn"></button>
          <br><br><br>
    </div>
{% endblock content %}


{% block script %}
    <script src="{% static 'account/js/modal.js' %}"></script>
{% endblock script %}