{% extends 'base.html' %}
{% load staticfiles %}
{% load bulma_tags %}
{% block content %}
    <section class="section"></section>
    <section class="section is-large"></section>
    <div class="modal is-active" id="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                    <a href="{% url 'account:login' %}" class="button is-link">Back</a><br><br>
                    <form action='.' method="post">
                        {% csrf_token %}
                            {{ form | bulma }}
                        <button type="submit" class="button is-success">Reset password</button>
                    </form>
                </div>
            </div>
        </div>
            <button class="modal-close is-medium" id="btn"></button>
    </div>
    <br><br><br>
{% endblock %}

{% block script %}
    <script src="{% static 'account/js/modal.js' %}"></script>
{% endblock script %}