{% load staticfiles %}
{% load compress %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <style>
        body{
            background: rgb(250, 250, 250);
        }
    </style>
    {% block css %}
    {% endblock css %}
</head>
<body id="login">
<nav class="navbar is-light">
    <div class="navbar-brand">
        <a href="#" class="navbar-item">
            <img src="https://bulma.io/images/made-with-bulma--dark.png" alt="">
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
        {% block menu %}
            {% include "menu/home.html" %}
        {% endblock menu %}
        </div>
    </div>
</nav>
{% block content %}

{% endblock content %}

<footer class="footer" style="background: powderblue;">
    <div class="container">
        <div class="content has-text-centered">
            <p><i>&copy; 2018 Rent-a-car — Coded by Mateo Mlikota - xhizor.</i></p><br>
         </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
{% compress js %}
<script src="{% static 'account/js/dashboard.js' %}"></script>
<script src="{% static 'account/js/update_profile.js' %}"></script>
<script src="{% static 'account/js/logout.js' %}"></script>
<script>
    // script for responsive menu
    document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {

                    // Get the target from the "data-target" attribute
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);

                    // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
{% endcompress %}
{% block script %}

{% endblock script %}

</body>
</html>
{% endspaceless %}
